frontend/package-lock.json
combined_output.txt
combine.py
backend/data/activity.json
/backend/__pycache__
backend/.env
/backend/models/__pycache__
/backend/routes/api/__pycache__
/backend/utils/__pycache__
